body{
    background-color: #F1F1F1;
}

*, :after, :before {
    box-sizing: border-box;
}

/*选择器*/
.sign-up-msg{
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #969696;
}

/*标签选择器*/
a{
    text-decoration: none;
}

/*后代选择器*/
.sign-up-msg a{
    color: #3194d0;
}

.sign-up-msg a:hover{
    text-decoration: underline;
}

.sign {
    height: 100%;
    min-height: 750px;
    text-align: center;
    font-size: 14px;
    background-color: #f1f1f1;
}

/*表单样式*/
.sign .main{
    background-color: #FFFFFF;
    width: 400px;
    padding: 50px;
    margin: 60px auto 0 auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.sign .logo{
    position: absolute;
    top: 56px;
    left: 50px;
}


/*登录注册文字*/
.sign .title{
    margin: 0 auto 50px;
    padding: 10px;
    text-align: center;
}

.sign .title a{
    padding: 10px;
    color: #969696;
    font-size: 18px;
}

.sign .title a:hover{
    border-bottom: 2px solid #3BB149;
}

.sign .title .active{
    font-weight: 700;
    color: #3BB149;
    border-bottom: 2px solid #3BB149;
}

.sign .title span{
    padding: 10px;
    color: #969696;
    font-weight: 700;
}

/*表单文本框
.sign form .input input{
    width: 100%;
    height: 50px;
    padding: 4px 12px 4px 35px;
    border: 1px solid #c8c8c8;
    background-color: #F8F8F8;
    box-sizing: border-box;
}*/

.sign form .restyle {
    margin-bottom: 0;
}
.sign form .input-prepend {
    position: relative;
    width: 100%;
}
.sign form .input-prepend input {
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    padding: 4px 12px 4px 35px;
    border: 1px solid #c8c8c8;
    border-radius: 0 0 4px 4px;
    background-color: hsla(0,0%,71%,.1);
    vertical-align: middle;
}
.sign form .restyle input {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}
.sign form .no-radius input {
    border-radius: 0;
}
.sign form .input-prepend i {
    position: absolute;
    top: 14px;
    left: 10px;
    font-size: 18px;
    color: #969696;
}
.sign .sign-up-button{
    margin-top: 20px;
    width: 100%;
    padding: 9px 18px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    background-color: #42c02c;
    cursor: pointer;
}
.sign .sign-up-button:hover{
    background-color: #3db922;
}

.sign .sign-in-button{
    margin-top: 20px;
    width: 100%;
    padding: 9px 18px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    color: #FFFFFF;
    background-color: #3194d0;
    cursor: pointer;
}
.sign .sign-in-button:hover{
    background-color: #187cb7;
}

.sign .more-sign {
    margin-top: 50px;
}

.sign .more-sign h6 {
    position: relative;
    margin: 0 0 10px;
    font-size: 12px;
    color: #b5b5b5;
}

.sign .more-sign h6:after, .sign .more-sign h6:before {
    content: "";
    border-top: 1px solid #b5b5b5;
    display: block;
    position: absolute;
    width: 60px;
    top: 5px;
}
.sign .more-sign h6:before {
    left: 30px;
}

.sign .more-sign h6:after {
    right: 30px;
}
.sign .more-sign h6:after, .sign .more-sign h6:before {
    content: "";
    border-top: 1px solid #b5b5b5;
    display: block;
    position: absolute;
    width: 60px;
    top: 5px;
}

.sign .more-sign ul {
    margin-bottom: 10px;
    list-style: none;
	padding-left: 0;
}

.sign .more-sign ul li {
    margin: 0 5px;
    display: inline-block;
}

.sign .more-sign ul a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
}
.sign .more-sign .icon-weixin {
    color: #00bb29;
}
.sign .more-sign .icon-qq {
    color: #498ad5;
}
.sign .more-sign ul i {
    font-size: 28px;
}
.ic-wechat:before {
    content: "\E604";
}
.ic-qq_connect:before {
    content: "\E603";
}


